*{
 margin: 0;
 padding: 0;   
}
body{
    background-color: black;
}

#quran{
    text-align: center;
    color: rgb(179, 179, 179);
    margin-top: 20px;
    margin-bottom: 40px;
    font-size: 25px;
    border-bottom: 2px solid rgba(255, 255, 255, 0.123);
    padding-bottom: 20px;
}

p{
    color: white;
    font-size: 180%;
    padding-right: 30px;
    padding-left: 30px;
    margin-right: auto;
    margin-left: auto;
    line-height: 40px;
    text-align: justify;
    text-align-last: right;
}

hr{
    width: 90%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 20px;
    margin-bottom: 30px;
}

#basmalah{
    color: white;
    text-align: center;
    margin-bottom: 20px;
}